.DS_Store
*.o
*.so
*.ko
*.mod.c
*.o.d
*.symvers
*.order
*.cmd
*.a
*.tmp
*.loT
*.oT
*.lo
*.slo
*.lai
*.la
*.a
*.a.*
*.dirstamp
*.log
*.stamp
*.patch
*.tar
*.tar.gz
*.tgz
*.tar.bz2
*.tar.xz
*.zip
*.xz
*.lzma
*.lzo
*.7z
*.deb
*.rpm
*.jar
*.war
*.ear
*.sar
*.rar
*.class
*.dll
*.exe
*.com
*.app
*.gem
*.out
*.run
*.appimg
*.dmg
*.deb
*.rpm
*.apk
*.snap
*.msi
*.rpm
*.deb
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.7z
*.tar.xz
*.bz2
*.lzma
*.lzo
*.xz
*.bz
*.txz
*.tbz
*.tlz
*.tzst
*.tzo
*.lz4
*.zst
*.zipx
*.cab
*.arj
*.cpio
*.shar
*.wim
*.xar
*.z
*.taz
*.lzh
*.lz
*.lha
*.wrz
*.cpgz
*.lrz
*.tar.zst
*.tar.lz4
*.tar.lzma
*.tar.lzo
*.tar.lrz
*.tar.tz
*.tar.taz
*.tar.xz
*.tar.bz2
*.tar.gz
*.tar.tgz
*.tar.tbz
*.tar.tlz
*.tar.tzo
*.tar.cpio
*.tar.7z
*.tar.zip
*.ipk
*.ipk.*
